<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Exportación Exitosa</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          margin: 50px;
        }
        
        h1 {
          font-size: 24px;
          margin-bottom: 20px;
        }
        
        .message {
          font-size: 18px;
          margin-bottom: 20px;
        }
        
        .button {
          display: inline-block;
          padding: 10px 20px;
          background-color: #428bca;
          color: #fff;
          text-decoration: none;
          border-radius: 4px;
        }
      </style>
</head>
<body>
    <h1>Exportación de datos</h1>
    <p class="message"><%= message %></p>
    <a class="button" href="/">Aceptar</a>
</body>
</html>
